<header>
    <ul>
        <li><a href="/">Presentacion</a></li>
        <li><a href="/trabajos">Trabajos realizados</a></li>
        <li><a href="/detalle">Miembros</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</header>