<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/politica.css">
     <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    {{> header}}
<section id="presentacion">
  <h1>Política de Privacidad</h1>
  
  <p>
    En nuestro portafolio, la privacidad y seguridad de nuestros visitantes son una prioridad fundamental. Entendemos lo importante que es proteger tu información personal y garantizar que tengas una experiencia segura y transparente mientras navegas por nuestra página web.
  </p> 
  
  <p>
    Esta política de privacidad ha sido diseñada para explicarte de manera clara y detallada cómo gestionamos cualquier información que puedas proporcionarnos, cómo utilizamos los datos recopilados y qué medidas adoptamos para salvaguardarlos.
  </p>
  
  <p>
    Nuestro objetivo principal es que te sientas seguro mientras exploras nuestro trabajo y proyectos, ya sea que estés considerando colaborar con nosotros o simplemente descubriendo lo que ofrecemos. Valoramos profundamente tu confianza y nos comprometemos a protegerla al cumplir con las mejores prácticas en materia de privacidad y con las normativas legales aplicables.
  </p>
  
  <p>
    Si tienes alguna duda sobre cómo manejamos tu información, o necesitas más detalles sobre los términos de nuestra política, estamos aquí para ayudarte. Tu confianza es fundamental para nosotros, y trabajamos continuamente para garantizar un entorno de navegación seguro y respetuoso con tu privacidad.
  </p>
</section>

    {{>footer}}
</body>
</html>