<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyectos del Miembro</title>
  <link rel="stylesheet" href="/css/trabajos.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  {{> header}} <!-- Incluye el encabezado desde un partial -->

  <!-- Sección principal de la página -->
  <section id="proyectos-section">
    <h1 id="titulo-proyectos">Nuestros Trabajo</h1>
    <p>Bienvenido a la sección de trabajos. Aquí podrás explorar las aplicaciones y soluciones desarrolladas por nuestro equipo, cada una con su enfoque único y funcionalidad específica. Nos dedicamos a crear proyectos innovadores y bien estructurados, aplicando nuestra experiencia en el desarrollo de aplicaciones web y móviles. Descubre cómo cada proyecto refleja nuestro compromiso con la calidad, la eficiencia y la creatividad en el desarrollo tecnológico.</p>
</section>
 <section id="seccion-principal">

    <p>Aqui los trabajos</p>
    <p>Y los trabajos </p>
    <p> 
        
    </p>
 </section>
{{>footer}}
</body>
</html>
